h1= title
- if (typeof message == 'string')
  p(class='message')= message
h3 Existing classes
- if (!global.courses)
  em There are no classes yet.
- else
  table
    thead
      tr
        th Name
        th Course Number
        th Schedule
        th Status
    tbody
      - for (var i = 0; i < global.courses.length; i++)
        tr
          td= global.courses[i].name
          td= global.courses[i].courseNumber
          td= global.courses[i].schedule
          td
            a(href='/course/'+global.courses[i].courseNumber+'/toggle')= global.courses[i].status
          td
            a(href='/course/'+global.courses[i].courseNumber+'/delete') Delete
h3 Add a class
form(action='/course', method='post')
  label Course Number
    input(name='course[courseNumber]')  
  label Name
    input(name='course[name]')
  label Schedule
    input(name='course[schedule]')
  label Open Status
    select(name='course[status]')
      option Open
      option Closed
  p
    input(type='submit', value='Add')
