h1= title
- if (typeof message == 'string')
  p(class='message')= message
h3 Existing classes
- if (courses.length == 0)
  em There are no classes yet.
- else
  table
    thead
      tr
        th Term
        th Course Number
        th Name
        th Schedule
        th Status
    tbody
      - for (var i = 0; i < courses.length; i++)
        tr
          td= courses[i].term
          td= courses[i].courseNumber
          td= courses[i].name
          td= courses[i].schedule
          td
            a(href='/course/'+courses[i].courseNumber+'/toggle')= courses[i].status
          td
            a(href='/course/'+courses[i].courseNumber+'/delete') Delete
h3 Add a class
form(action='/course', method='post')
  label Term
    input(name='course[term]')
  label Course Number
    input(name='course[courseNumber]')  
  label Name
    input(name='course[name]')
  label Schedule
    input(name='course[schedule]')
  label Open Status
    select(name='course[status]')
      option Open
      option Closed
  p
    input(type='submit', value='Add')
